# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment folder
.venv/

# Ignore environment variables (if any)
.env

# Ignore Flask-related files
instance/

# Ignore IDE/editor-specific files (add more depending on your setup)
.vscode/
.idea/

*.pdf

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db

# Ignore test or coverage reports
*.log
*.coverage
*.tox
*.nox
*.coverage.*
nosetests.xml
coverage.xml
*.hypothesis/
*.pkl