Flask==3.1.0
flask-cors==5.0.1
gunicorn==23.0.0
pandas==2.2.1
psycopg[binary]==3.2.9
skforecast==0.14.0
numpy==1.26.4
scikit-learn==1.5.2
pmdarima==2.0.4
statsmodels==0.14.4
joblib==1.4.2
pyarrow==18.0.0
matplotlib==3.9.2
pymysql==1.1.1
sqlalchemy==2.0.30
sqlalchemy-utils==0.41.2
python-dotenv
